@media (min-width: 576px) {}

@media (min-width: 768px) {
    .subtitle {
        margin-top: -9%;
    }
    #ccText, #ddText {
        margin-top: -6%;
    }
    #cipherDecipher {
        margin-top: -4%;
    }
}

@media (min-width: 992px) {
    .subtitle {
        margin-top: -5%;
    }
    #ccText, #ddText {
        margin-top: -4%;
    }
    #cipherDecipher {
        margin-top: -3%;
    }
}

@media (min-width: 1200px) {}