body {
    background-color: #FBCDCF;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #FBCDCF;
    margin: 1em 0;
    padding: 0; 
}
img {
    height: 85%;
    width: 100%;

    position: relative;
}

#instrucciones {
    font-size: 1rem;
    color: black;
    width: 150px;
    font-family: 'Baloo', cursive;
    margin-left: 20px;
    position: absolute;
    top: 10%;
    left: 37%;
}

h1 {
    color:#4a328d;
    font-family: 'Bowlby One SC', cursive;
    font-size: 2.5rem;
    text-align: center;
    background-color: rgb(151, 147, 235);
    border-radius: 20px;
    width: 100%;
    line-height: 1;
    }

.subtitle {
    font-family: 'Caveat Brush', cursive;
    text-align: center;
    font-size: 1.7rem;
    margin-top: -12%;
    margin-left: 15%;   
    }

#ddText {
    overflow-y: scroll;
    overflow-x: auto;  
    font-size: 15px;
    margin-top: -5%;
    padding: 0px;
    border: 3px solid #999;
    width: 100%;
    height: 50%;
    }

#ccText {
    overflow-y:scroll;
    overflow-x: auto; 
    font-size: 15px;
    margin-top: -5%;
    padding: 0px;
    border: 3px solid #999;
    width: 100%;
    height: 50%;
    }

#cipherDecipher {
    overflow-y:scroll;
    overflow-x: auto; 
    font-size: 15px;
    margin-top: -6%;
    padding: 0px;
    border: 3px solid #999;
    width: 100%;
    height: 72%;
    }
    
#resultado {
    display: inline; 
    }

#numerito {
    height: 32px;
    border: 2px solid #999;
    padding: 10px 10px;
    font-size: 17px;
    display: inline;
    }

#offset {
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    display: inline;

    }

p {  
    height: 20px;
    color: rgb(60, 58, 143);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

.button {
    background: rgb(228, 247, 120);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    transition-duration: .5s;
    cursor: pointer;
    box-shadow: 0 3px rgb(92, 87, 87);
    color: rgb(44, 39, 39);
    float: right;
    }

.button2 {
    background: rgb(228, 247, 120);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    transition-duration: .5s;
    cursor: pointer;
    box-shadow: 0 3px rgb(92, 87, 87);
    color: rgb(44, 39, 39);
    float: right;
    }
  
.button2:active {
    background-color: #9fa73d;
    box-shadow: 0 5px rgb(121, 114, 114);;
    transform: translateY(4px);
    }

.button:active {
    background-color: #9fa73d;
    box-shadow: 0 5px rgb(121, 114, 114);
    transform: translateY(4px);
    }

#reset:active {
    background-color: #5e2937;
    box-shadow: 0 5px rgb(58, 30, 30);
    transform: translateY(4px);
    }



#reset {
    background: rgb(243, 122, 117);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    transition-duration: .5s;
    cursor: pointer;
    box-shadow: 0 3px rgb(87, 82, 82);
    color: rgb(17, 6, 6);
    display: inline;
    }
  


#texto1 {
    font-family: 'Fredoka One', cursive;
    border: solid rgb(110, 108, 108) 3px;
    background-color: rgb(176, 229, 245);
    height: 23%;
    width: 100%;
    text-align: center;
    border-radius: 7px;
    color: rgb(110, 108, 108);

    }

#texto2 {
    font-family: 'Fredoka One', cursive;
    border: solid rgb(110, 108, 108) 3px;
    background-color: rgb(176, 229, 245);
    height: 23%;
    width: 100%;
    text-align: center;
    border-radius: 7px;
    color: rgb(110, 108, 108);
    
    }

#texto3 {
    font-family: 'Fredoka One', cursive;
    border: solid rgb(110, 108, 108) 3px;
    background-color: rgb(176, 229, 245);
    height: 32%;
    width: 100%;
    text-align: center;
    border-radius: 7px;
    color: rgb(110, 108, 108);
   
    }

 

  

    

    

  
